.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding: 25px;
    margin: 0 auto;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 500px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }


  .buttons-container{
      display: flex;
      
      
  }

  .button-box{
      margin: 30px 0;;
  }

  .button{
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background: #094377;
      font-size: 24px;
      color: white;
      border: none;
      box-shadow: 0 4px 2px rgba(0, 0, 0, 0.5);
      /* margin: 20px 20px 20px 0; */
      
      
    }

    .numbers-container {
        width: 430px;
    }
    
  .specialButtons{
      display: flex;
      
    }
    .specialButtons .button{
        background: #0b5d9b;
        margin: 20px 40px 20px 0;

    }

    .numbers-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }
    .numbers-box .button{
        margin: 20px 40px 20px 0;

    }
    .operators-box{
        display: flex;
        flex-direction: column;
        width: 100px;
  }

    .operators-box .button{
        margin: 20px 0 20px 0;
        background: #007291;

    }